

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #461A42;
    z-index: 10;
    color: #fff;
}

.header .header-box{
    height: 56px;
    background-color: #461A42;
    box-sizing: border-box;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: space-between;
}

.header .header-box .nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-box .nav button{
    background: #461A42;
    border: none;
    color: #fff;
    margin-right: 5px;
}
.header .header-box .nav i{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-box .nav i:hover{
    background: #c3c3c35d;
}

.header .header-box .nav .nav-text{
    font-weight: bold;
}


section {
    padding: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col150{
    position: relative;
    width: 48%;
}

.titleText {
     color: #111;
     font-size: 2em;
     font-weight: 300;
}

.titleText span{
    color: #461A42;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col150 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col150 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* @media (max-width: 991px) {
    section {
        padding-top: 156px;
    }
    .row{
        flex-direction: column;
    }

    .row .col150 {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .row .col150 .imgBx{
        height: 300px;
        width: 100%;
    }
} */

.hero{
    background: #461A42;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero h1{
    text-align: center;
    padding-top: 50px;
    font-size: 40px ;
    color: #fff;
}

.slide-row{
    display: flex;
    width: 2400px;
    transition: 0.5s;
}

.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img{
    position: absolute;
    top: 0;right: 0;
    height: 100%;
}

.user-img img{
    height: 100%;
    border-radius: 10px;
}

.user-text{
    background: #2d3a59;
    width: 450px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.user-text p{
    font-size: 18px;
    line-height: 24px;
}

.user-text h3{
    margin: 35px 0 5px;
    color: #fff;
}

.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btn{
    display: inline-block;
    width: 15px;
    height: px;
    margin: 4px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.active{
    width: 45px;
}

.testimonial{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

 .about button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.about button i{
    margin-left: 10px;
    transform: rotate(270deg);
}

.about button:hover{
    background: #461A42;
    color: #fff;
}

@media only screen and (max-width: 46.1875em){
    .row{

        flex-direction: column;
        }
    
        .row .col150{
            width: 100%; 
        }
    
        .row .col150 .imgBx{
           display: none;
        }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .row{

    flex-direction: column;
    }

    .row .col150{
        width: 100%; 
    }

    .row .col150 .imgBx{
       display: none;
    }
}

@media only screen and (max-width: 764px) {
    .user-text{
        font-size: 10px;
        padding: 10px;
        width: 280px;
    }
    .user-img img{
       position: absolute;
       z-index: 1;
       top: 0;
       right: 170px;
        height: 100%;

    }
}