* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;

  background-image: url(./img/bg.jpg);
  width: 100%;
  object-fit: cover;
}
/* CSS AUTH */

.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  margin: 0 20px;
  font-size: 40px;
  color: #461a42;
  font-weight: 800;
  padding-left: 20px;
  text-decoration: none;
  padding-top: 20px;
  cursor: pointer;
  z-index: 1;
}
.container {
  background-color: rgba(17, 17, 17, 0.672);
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 32px 42px;
}
.title {
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  color: #ff652f;
  padding: 0;
  margin: 0;
}
.desctitle {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #ff652f;
  margin-bottom: 10px;
}
.btn-login {
  color: #6d6d6d;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  justify-content: flex-start;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: auto;
  margin-bottom: 12px;
  transition: 0.3s linear;
}
.btn-login:hover {
  background-color: #4285f4;
  color: #ffffff;
  transform: scale(1.05);
}
.logo-wrapper {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  margin-right: 14px;
}
.logo-wrapper > img {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin: 8px;
}
.btn-label {
  font-weight: 400;
  font-size: 14px;
}
.btn-label:hover {
  letter-spacing: 1.1;
}
.divideror {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.input-container > label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
.input-container > label > input {
  margin-top: 8px;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 14px;
  color: #6d6d6d;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 16px;
}
.error-msg {
  margin-left: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  color: red;
  font-style: italic;
}
.btn-submit {
  width: 100%;
  margin-top: 24px;
  height: 44px;
  line-height: 44px;
  font-weight: 600;
  border-radius: 4px;
  font-size: 14px;
  background-color: #e5e5e5;
  color: rgba(41, 42, 58, 0.34);
  border: none;
  transition: all 0.2s ease-out;
  margin-bottom: 20px;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #ff652f;
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 10%), 0 4px 0 0 rgba(255, 255, 255, 0.227);
  color: #fff;
}
.feedbackmessage {
  font-size: 14px;
  font-weight: bold;
  color: #e4ff00;
  margin-bottom: 10px;
  text-align: center;
}
.signup-link {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #b6b6b6;
}
.signup-link > span {
  margin-left: 6px;
  text-decoration: none;
  cursor: pointer;
}
.linkSignup {
  color: #ff652f;
}
